.circle {
  border-radius: 50%;
  /*width: 60px;*/
  /*height: 60px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  border-radius: 50%;
  /*width: 60px;*/
  /*height: 60px;*/
}

.circle .text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.2625px;
}
